:ruby
  base_date = Date.current

%h2.title #{base_date.year}年#{base_date.month}月のカレンダー
%button.btn.btn-default.prev{type: "button"} <
%button.btn.btn-default.next{type: "button"} >

.calendar{year: base_date.year, month: base_date.month}
