:ruby
  base_date = Date.current
  Date.beginning_of_week = :sunday
  date_range = base_date.beginning_of_month.beginning_of_week..base_date.end_of_month.end_of_week

%h2 #{base_date.month}月のカレンダー

%table.table.table-bordered.calendar
  %thead
    %tr
      %th.calendar__weekday 日曜日
      %th.calendar__weekday 月曜日
      %th.calendar__weekday 火曜日
      %th.calendar__weekday 水曜日
      %th.calendar__weekday 木曜日
      %th.calendar__weekday 金曜日
      %th.calendar__weekday 土曜日
  %tbody
    - date_range.each_slice(7).each do |week|
      %tr
        - week.each do |date|
          %td{class: base_date.month == date.month ? 'calendar__date' : 'calendar__out-of-date'}
            = date.day
